body {}

.geral {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divAdicaoProdutoCorpo {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:100%;
}

.texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.check {
    height: 60px;
    width: 60px;
    margin-left: .25vw;
    margin-top: 0.9vh
}

.corpo {
    font-size: 40px;
    color: green;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width:45%;
}

.btnJorge1, .btnJorge2 {
    height: 70px;
    background-color: #2464c1;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px 30px;
    border: 0px;
    color: #DEDEDE;
    box-shadow: 5px 10px 19px rgba(0, 0, 0, 0.3);
}

.btnJorge1 {
    width: 220px;
}

.btnJorge2 {
    width: 220px;
}

.divTextoBtnVoltar {
    height: 68px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divTextoBtnVoltar p {
    margin: 0 !important;
}

.divTextoBtnVoltar img {
    height: 90%;
    transform: rotate(180deg);
}

.divTextoBtnAvancar {
    height: 68px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divTextoBtnAvancar p {
    margin-bottom: 0;
}

.divTextoBtnAvancar img {
    height: 90%;
    float: left;
}

@media screen and (max-width:1190px) {
    .buttons {
        width: 60%;
    }

    .corpo {
        font-size: 40px;
    }
}

@media screen and (max-width:1070px) {
    .corpo {
        font-size: 35px;
    }
}

@media screen and (max-width:865px) {
    .corpo {
        font-size: 30px;
    }
    
    .buttons {
        width: 80%;
    }

    .btnJorge1, .btnJorge2 {
        height: 60px;
        font-size: 18px;
    }

    .btnJorge1 {
        width: 200px;
    }

    .btnJorge2 {
        width: 200px;
    }

    .divTextoBtnVoltar, .divTextoBtnAvancar {
        height: 58px;
    }
}

@media screen and (max-width:730px) {
    .corpo {
        font-size: 23px;
        text-align:center;
    }
    
    .buttons {
        width: 100%;
    }

    .btnJorge1, .btnJorge2 {
        height: 50px;
        font-size: 14px;
    }

    .btnJorge1 {
        width: 160px;
    }

    .btnJorge2 {
        width: 160px;
    }

    .divTextoBtnVoltar, .divTextoBtnAvancar {
        height: 48px;
    }
}