body {
}

.divBodyAreaCliente {
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
    padding: 60px;
    box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.3);
    margin: 60px auto auto auto;
}

.jorge {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 50%;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;
    justify-content: space-around;
}

    .inputs p {
        font-size: 2.5rem;
        margin-bottom:0;
    }

.txtNome,
.txtSobrenome {
    outline: none;
    border: 1px solid #e1e1e1;
    width: 276px;
}

    .txtNome:focus,
    .txtSobrenome:focus,
    .txtSenha:focus,
    .txtConfirmarSenha:focus {
        outline: none;
    }

.txtSenha,
.txtConfirmarSenha {
    background: #dcdcdc;
    border: 1px solid #e1e1e1;
    width: 276px;
}

.btnSalvar {
    width: 276px;
    height: 50px;
    display: inline-block;
    background: #18a180;
    font-size: 0.9375em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #18a180;
}

.pedidos * {
    margin: 0;
}

.pedidos {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.listapedidos-produto {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 5px;
}

.listapedidos-pedido {
    background-color: #f7f7f7;
    flex-wrap: wrap;
    border-radius: 20px 20px;
    box-shadow: 2px 2px #989898;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.pedidoFull {
    display: flex;
    justify-content: space-between;
}

.pedidoParcial {
    display: flex;
    flex-direction: column;
}

#btnCancel4 {
    height: 30px;
    display: inline-block;
    background: #ff4242;
    font-size: 0.9375em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #ff4242;
    border-radius: 20px 20px;
}
