body {}

.divBodyAreaCliente {
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 60px;
    padding: 60px;
    box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.3);
    margin: 60px auto auto auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;
    width: 276px;
    height: 225px;
    justify-content: space-around;
}

.txtNome,
.txtSobrenome {
    outline: none;
    border: 1px solid #e1e1e1;
}

.txtNome:focus,
.txtSobrenome:focus,
.txtSenha:focus,
.txtConfirmarSenha:focus {
    outline: none;
}

.txtSenha,
.txtConfirmarSenha {
    background: #dcdcdc;
    border: 1px solid #e1e1e1;
}

.btnSalvar {
    width: 276px;
    height: 50px;
    display: inline-block;
    background: #18a180;
    font-size: 0.9375em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #18a180;
}

.pedidos * {
    margin: 0;
}

.pedidos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.listapedidos-produto {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 5px;
}