body {
    background-color: rgb(218, 218, 218);
}
    
.divContent {
    background-color: #FFF;
    border-radius: .50rem;
    box-shadow: 0 7px 20px rgba(0,0,0,0.1);
    margin-top: 60px;
    width: 1200px;
    height: 3000px;
    padding-right: .9375rem;
    padding-left: .9375rem;
}