@font-face {
    font-family: Borg;
    src: url('Fontes/Borg.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('Fontes/Roboto-Black.ttf');
}

body {
    background-color: #ff7300;
}

* {
    font-family: 'Century Gothic';
    outline: none !important;
}

.divHeader {
    padding: 15px;
    position: absolute !important;
    width: 100% !important;
    z-index: 10;
    background-color: rgba(255, 250, 237, 0) !important;
}

.aProjSblenders {
    font-size: 22px;
    color: #FFF;
    margin-top: 52px;
    margin-right: 40px;
    float: left;
}

.aProjSblenders:hover {
    color: #434343;
    text-decoration: none;
    transition: 0.5s;
}

.aCad {
    color: #fff !important;
    font-size: 24px;
    background-color: #ffd000;
    padding: 15px 25px;
    line-height: 15vh;
    margin-left: 10px;
    margin-right: 30px;
    border-radius: 15px 15px;
    /*box-shadow:#545454 1px 1px 1px;*/
    cursor: pointer;
}

.aCad:hover {
    color: #6e6a5c !important;
    background-color: #ffae00;
    transition: 0.75s;
}

#divCorpo {
    height: auto;
    width: 100%;
    margin: 0 auto;
}

#divCorpoIndex {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
}

#divCorpoIndex nav:first-child {
    position: absolute;
    z-index: 50;
}

#divCorpoIndex nav:last-child {
    position: static;
    z-index: 1;
}

#carouselBanner {
    height: 100%;
    width: 100%;
}

#carouselIndex2 {
    height: 100vh;
    width: 80%;
    align-items: center;
    margin-top: 50px;
}

.imgCarouselIndex2 {
    height: 100vh;
}

.aNeg {
    z-index: 2;
}

a:hover {
    text-decoration: none;
}

a,
li,
ul {
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 925px) {
    .divLinks {
        border-right: #fff 1px solid;
    }
}

@media screen and (max-width: 600px) {
    .divHeader {
        position: static !important;
        width: auto !important;
        background-color: #ff7300 !important;
    }
}

.divProd {
    padding: 80px 40px;
    margin: 0 auto;
    background-image: url(ImagensCSS/woodwallpaper.jpg);
    background-size: cover;
}

.divCustomizarLanches {
    margin: 0 auto;
    height: auto;
    width: 1011px;
}

.divBurguer {
    height: 250px;
    width: 100%;
    box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.3);
}

.divBurguer a,
.divBurguer3 a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.divTxtBurguer {
    display: flex;
    height: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.divTxtBurguer2 {
    display: flex;
    height: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.divTxtBurguer h1 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin: 0;
    text-shadow: 2px 2px 2px #000;
    color: #f0f0f0;
}

.divTxtBurguer2 h1 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin: 0;
    text-shadow: 2px 2px 2px #000;
    color: #f0f0f0;
}

.divBurguer2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.divBurguer3 {
    height: 200px;
    width: 505px;
    box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.3);
}

#divBurguer1 {
    background-image: url(ImagensCSS/hamburgerwallpaper.png);
    background-position: center;
    background-repeat: space;
    overflow: hidden;
}

.AcomWall {
    background-image: url(ImagensCSS/acompanhamentoswallpaper.png);
    background-position: center;
    overflow: hidden;
}

.BebidasWall {
    background-image: url(ImagensCSS/sodawallpaper.png);
    background-position: center;
    overflow: hidden;
}

#divBurguer2 {
    background-image: url(ImagensCSS/dessertswallpaper.png);
    background-position: center;
    overflow: hidden;
}

.divFooter {
    box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.5);
    margin: 0px;
}

.Faca {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    margin: 0;
    color: #ffffff;
    margin-bottom: 30px;
    text-shadow: 2px 2px 20px #000;
}

@media screen and (max-width: 1100px) {
    .divProd {
        padding: 80px 0;
        margin: 0 auto;
    }
    .divCustomizarLanches {
        width: 75%;
    }
    .divBurguer3 {
        width: 50%;
    }
    .divTxtBurguer2 h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 610px) {
    .Faca {
        font-size: 30px;
    }
    .divTxtBurguer h1 {
        font-size: 20px;
        text-align: left;
    }
    .divTxtBurguer2 h1 {
        font-size: 18px;
    }
    .divBurguer3 {
        width: 100%;
    }
    .divBurguer2 {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }
}