body {
}

#divCorpoIndex{
    margin:0 auto;
    height:auto;
    width:100%;
}

#carouselBanner {
    height: 85vh;
}

.imgCarrouselBanner{
    height:85vh;
}

#carouselIndex2{
    height:85vh;
    width:80%;
    align-items:center;
    margin-top:50px;

}

.imgCarouselIndex2{
    height:85vh;
} 