body {
    background-image: url(ImagensCSS/fundoIngredientes.png);
    background-size:100% 100%;
    background-position:center;
}

.divNomePagina {
    height: 200px;
    width: 100%;
    float: left;
}

.divTituloPagina {
    height: 110px;
    width: 35%;
    float: left;
    background-color: #ed4218;
    border-radius: 0px 0px 30px 0px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

    .divTituloPagina h1 {
        color: #FFF;
        font-size: 48px;
        text-shadow: 2px 2px 2px #989898;
    }

.divIngredientes {
    height: auto;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.divTextoIngredientes {
    height: 150px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

    .divTextoIngredientes h1 {
        font-size: 44px;
        text-transform: uppercase full-width;
        text-shadow: 2px 2px 2px #e33d00;
    }

.divSubIngredientes {
    height: auto;
    width: 75%;
    border-radius: 25px 25px;
    background-color: #DDD;
    padding-bottom: 25px;
    box-shadow: 3px 3px 3px #787878;
}

.divPaes {
    height: 100px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f5902c;
    border-radius: 25px 25px 0px 0px;
}

.divPaes h1{
    font-size:36px;
    text-transform:uppercase full-width;
    color:#efefef;
    text-shadow:1px 1px 1px #656565;
}

.divEspaco{
    height:50px;
    width:100%;
    float:left;
}

.divIngredientePaes {
    height: 200px;
    width: 100%;
    float: left;
    margin-top:15px;
    margin-bottom:15px;

}

.divImagemIngrediente {
    height: inherit;
    width: 30%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imgIngrediente{
    height:80%;
    width:80%;
}

.divDescricaoIngrediente{
    height:inherit;
    width:50%;
    float:left;
}

.divSubDescricaoIngrediente{
    height: 50%;
    width:100%;
    float:left;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lblNomeIngrediente{
    font-size:20px;
}

.divBtnIngrediente {
    height: 100%;
    width: 50%;
    float: left;
}

.btnMaisInformacoesIngredientes{
    height:40%;
    width:80%;
    font-size:14px;
    border-radius:10px 10px;
    box-shadow:3px 3px 3px #656565;
    border:none;
    background-color:#e33d00;
    color:#fff;
}

.divValorIngrediente {
    height: inherit;
    width: 20%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lblValorIngrediente{
    font-size:22px;
    font-weight:bold;
}

.divCarnes {
    height: 100px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f5902c;
}

    .divCarnes h1 {
        font-size: 36px;
        text-transform: uppercase full-width;
        color: #efefef;
        text-shadow: 1px 1px 1px #656565;
    }

.divIngredientesCliente {
    height: auto;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
