body {
    background-image: url(ImagensCSS/IngredientesBackground.png);
    background-size:100% 100%;
    background-position:center;
    background-color: #fff;
}

.divNomePagina {
    height: 200px;
    width: 100%;
    float: left;
}

.divTituloPagina {
    height: 110px;
    width: 35%;
    float: left;
    background-color: #ed4218;
    border-radius: 0px 0px 30px 0px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

    .divTituloPagina h1 {
        color: #FFF;
        font-size: 48px;
        text-shadow: 2px 2px 2px #989898;
    }

.divIngredientes {
    height: auto;
    width: 55%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.divIngredientesCategoria {
    height: 150px;
    width: 100%;
    float: left;
}

    .divIngredientesCategoria h1 {
        float: left;
        font-size: 42px;
        margin-left:50px;
    }

.selectCategoria {
    float: left;
    font-size: 42px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    padding-right: 10px;
}

.optionCategoria {
    font-size: 30px;
}

    .optionCategoria:hover {
        background-color: #e3e3e3;
    }

.divMostrarIngredientes {
    height: auto;
    width: 100%;
    float: left;
}

.divPaes {
    height: 1700px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 100px;
}

#divCarnes{
    display:none;
}

.divProduto {
    height: 500px;
    width: 40%;
    border-radius: 40px;
    background-color: #FFF;
    filter: drop-shadow(8px 8px 10px #656565);
}

    .divProduto a {
        text-decoration: none;
        color: black;
    }

.divSubProduto1 {
    height: 250px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imgSubProduto {
    height: 200px;
    width: 60%;
}

.divSubProduto2 {
    height: 150px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.lblDescricaoProduto {
    width: 100%;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.lblValorProduto {
    width: 100%;
    font-size: 34px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
}

.divSubProduto3 {
    height: 90px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btnAdicionarCarrinho {
    height: 55px;
    width: 65%;
    background-color: #37c418;
    color: #EEE;
    font-size: 22px;
    border-radius: 10px 10px;
    border: solid 0px #323232;
    filter: drop-shadow(2px 2px 2px #656565);
}

.divIngredientesCliente {
    height: auto;
    width: 45%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}