body {
    background-image: url(../Imagens/background.png);
    background-size: 100% 100%;
    background-position: center;
    background-color: #fff;
}

.geral {
    display: flex;
    flex-direction: column;
}

.sectionProd {
    height: 100vh;
    width: 100%;
    float: left;
    background-color: transparent;
    z-index: 999;
    position: fixed;
    align-items: initial;
    display: flex;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.divDescricaoProduto {
    height: 50vh;
    width: 40%;
    background-color: #e8e7e7;
    margin-top: 5vh;
    border-radius: 15px;
}

.divDescricaoProdutoTitulo {
    height: 15%;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e8a13c;
    border-bottom: 1px inset #e8a13c;
    border-radius: 15px 15px 0px 0px;
}

.h1InfoNutri {
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
    margin: 0 !important;
}

.divDescricaoProdutoTitulo a {
    height: 100%;
    float: right;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 60px;
    cursor: pointer;
}

.imgIconX {
    height: 80%;
    float: right;
}

.divDescricaoProdutoCorpo {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
}

    .divDescricaoProdutoCorpo p {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

.bigboy {
    display: flex;
    width: 100%;
}

.divIngredientes {
    height: auto;
    width: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.divIngredientesCategoria {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


/*.divIngredientesCategoria select {
    display: none; hide original SELECT element:
}*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.select-hide {
    display: none;
}

.divIngredientesCategoria h1 {
    font-size: 42px;
    user-select: none;
    margin: auto 0 auto 0;
}

.selectCategoria {
    height: 60px;
    font-size: 42px;
    text-align: center;
    border-radius: 30px;
    text-shadow: 2px 2px 2px #989898;
    display: flex;
    margin: auto 0 auto 0;
    margin-left: 20px;
}

*:focus {
    outline: none;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.optionCategoria {
    font-size: 30px;
}

    .optionCategoria:hover {
        background-color: #e3e3e3;
    }

.divIngredientesCategoria a {
    width: 40px;
    margin: auto 0 auto 0;
    cursor: pointer;
}

.divIngredientesCategoria img {
    width: 100%;
}

.divMostrarIngredientes {
    height: auto;
    width: 100%;
    float: left;
}

.divPaes {
    height: auto;
    width: 100%;
    float: left;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

#ContentPlaceHolder1_divPaes {
    display: flex;
}

#ContentPlaceHolder1_divCarnes {
    display: none;
}

#ContentPlaceHolder1_divVerduras {
    display: none;
}

#ContentPlaceHolder1_divLegumes {
    display: none;
}

#ContentPlaceHolder1_divQueijos {
    display: none;
}

#ContentPlaceHolder1_divMolhos {
    display: none;
}

.divProduto {
    height: 600px;
    width: 45%;
    border-radius: 40px;
    background-color: #FFF;
    filter: drop-shadow(8px 8px 10px #656565);
    margin-bottom: 50px;
}

    .divProduto a {
        text-decoration: none;
        color: black;
    }

.divSubProduto1 {
    height: 250px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imgSubProduto {
    height: 200px;
    width: 60%;
}

.divSubProduto2 {
    height: 150px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.lblDescricaoProduto {
    width: 100%;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.lblValorProduto {
    width: 100%;
    font-size: 34px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
}

.divSubProduto3 {
    height: 90px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btnAdicionarCarrinho {
    height: 55px;
    width: 65%;
    background-color: #37c418;
    color: #EEE;
    font-size: 22px;
    border-radius: 10px 10px;
}

    .btnAdicionarCarrinho:hover {
        background-color: #15b62a;
        transition: 0.7s;
    }

.divSubProduto4 {
    height: 100px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btnAumentar {
    height: 35px;
    width: 10%;
    background-color: #fa4120;
    font-size: 26px;
    font-weight: bold;
    color: #FFF;
    border-radius: 10px 10px;
    border: 0px;
    box-shadow: 1px 1px #545454;
    padding: 0;
    text-align: center;
}

.txtQuantidade {
    height: 40px;
    width: 45%;
    font-size: 20px;
    text-align: center;
}

.smallboy {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.divIngredientesCliente {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.divIngredienteCliente {
    height: 300px;
    width: 80%;
    float: left;
    background-color: #f7f7f7;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px 20px;
    box-shadow: 2px 2px #989898;
    margin-bottom: 50px;
}

.divIngredienteFoto {
    height: 220px;
    width: 30%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imgIngrediente {
    height: 180px;
    width: 98%;
}

.divIngredienteInfo {
    height: 220px;
    width: 70%;
    float: left;
}

.divSubIngredienteInfo1 {
    height: 110px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.lblNomeIngredienteCliente {
    font-size: 26px;
    color: #323232;
}

.divSubIngredienteInfo2 {
    height: 110px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lblQuantidadeIngredienteCliente {
    font-size: 20px;
}

.lblValorIngredienteCliente {
    font-size: 20px;
    margin-right: 10px;
}

.divIngredienteExcluir {
    height: 80px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btnExcluirIngrediente {
    height: 45px;
    width: 40%;
    border: 0px;
    border-radius: 10px 10px;
    background-color: #fa4120;
    color: white;
    font-size: 20px;
}

.divTot {
    height: 80px;
    margin-bottom: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 72.45%
}

#lblTotalIngredientes {
    font-size: 30px;
}

.divBotoes {
    display: flex;
    justify-content: space-around;
}

.divBtnExcluirLanche {
    height: 80px;
    width: 360px;
    align-items: initial;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.btnExcluirLanche {
    width: 100%;
    background-image: linear-gradient(#ff5555, #ff5555);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 30px 30px;
    border: 0px;
    color: #DEDEDE;
    box-shadow: 5px 10px 19px rgba(0, 0, 0, 0.3);
    padding-left: 20px;
}

    .btnExcluirLanche:focus {
        outline: none;
    }

.divTextoBtnExcluirLanche {
    height: 80px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .divTextoBtnExcluirLanche p {
        margin-bottom: 0;
    }

    .divTextoBtnExcluirLanche img {
        height: 90%;
    }

.divBtnOpcoesPagLanches {
    height: 80px;
    width: 485px;
    align-items: initial;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.btnIrCarrinho {
    width: 100%;
    background-color: #2464c1;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 30px 30px;
    border: 0px;
    color: #DEDEDE;
    box-shadow: 5px 10px 19px rgba(0, 0, 0, 0.3);
    padding-left: 20px;
}

    .btnIrCarrinho:focus {
        outline: none;
    }

.divTextoBtnCarrinho {
    height: 80px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .divTextoBtnCarrinho p {
        margin-bottom: 0;
    }

    .divTextoBtnCarrinho img {
        height: 90%;
        float: left;
    }
