body {
}

.divCorpoEntrega{
    height:auto;
    width:100%;
    float:left;
}

.divNomeEntrega {
    height: 90px;
    width: 100%;
    float: left;
    margin-bottom:30px;
}

.divTituloEntrega {
    height: 90px;
    width: 30%;
    float: left;
    background-color: #ed4218;
    border-radius: 0px 0px 30px 0px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

    .divTituloEntrega h1 {
        color: #FFF;
        font-size: 48px;
        text-shadow: 2px 2px 2px #989898;
    }

.divEnderecoEntrega {
    height: 700px;
    width: 35%;
    float: left;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    flex-direction:row;
}

.divSubEndereco {
    height: 250px;
    width: 90%;   
}

.divLblEntrega {
    height: 40px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lblEnderecoMaps {
    font-size: 30px;
}

.divTxtEntrega {
    height: 70px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.txtEnderecoMaps {
    height: 40px;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divLblAvisoEntrega {
    height: 30px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lblAvisoEnderecoMaps {
    margin-bottom: 20px;
}

.divBtnEntrega {
    height: 70px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btnEnderecoMaps {
    height: 40px;
    width: 45%;
    background-color: #04cf15;
    border: none;
    border-radius: 5px 5px;
    box-shadow: 1px 1px 1px #454545;
    font-size: 18px;
    color: #FFF;
}
.hidden, .false, .true{
    display:none;
}

.lblCustoFrete{
    width:100%;
    margin-top:15px;
    float:left;
    font-size:24px;
}

.divInstrucoes{
    height:250px;
    width:90%;
    float:left;
}

.divSubInstrucoes1 {
    height: 60px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

    .divSubInstrucoes1 p {
        font-size: 30px;
    }

.divSubInstrucoes2 {
    height: 190px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.txtInstrucoes{
    height:140px;
    width:80%;
    padding:5px;
    overflow:hidden;
}

.divMapsEntrega {
    height: 700px;
    width: 65%;
    float: left;
    display: flex;
    align-items: center;
}

.divMapsE{
    height:650px;
    width:90%;
}

.divBtnFinalizar{
    height:300px;
    width:100%;
    float:left;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    flex-direction:row;
}

.btnFinalizarPedido {
    height: 80px;
    width: 24%;
    background-image: linear-gradient(135deg, rgba(39, 131, 219) 0%, rgba(27, 119, 207) 50%, rgba(15, 103, 186) 100%);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 30px 30px;
    border: 0px;
    color: #DEDEDE;
    box-shadow: 6px 6px 6px #656565;
    padding-left: 20px;
}

.divTextoBtnFinalizar {
    height: 80px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .divTextoBtnFinalizar p {
        margin-bottom: 0;
    }

    .divTextoBtnFinalizar img {
        height: 90%;
        float: left;
    }