body {
}

.divCorpoEntrega {
    height: auto;
    width: 100%;
}

.geral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.geral2 {
    display: flex;
}

.divEnderecoEntrega {
    height: 700px;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.divSubEndereco {
    height: 250px;
    width: 90%;
}

.divLblEntrega {
    height: 40px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lblEnderecoMaps {
    font-size: 30px;
}

.divTxtEntrega {
    height: 70px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.txtEnderecoMaps {
    height: 40px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divLblAvisoEntrega {
    height: 30px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lblAvisoEnderecoMaps {
    margin-bottom: 20px;
}

.divBtnEntrega {
    height: 70px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btnEnderecoMaps {
    height: 40px;
    width: 45%;
    background-color: #04cf15;
    border: none;
    border-radius: 5px 5px;
    box-shadow: 1px 1px 1px #454545;
    font-size: 18px;
    color: #FFF;
}

.hidden,
.false,
.true {
    display: none;
}

.lblCustoFrete {
    width: 100%;
    margin-top: 15px;
    float: left;
    font-size: 24px;
}

.divInstrucoes {
    height: 250px;
    width: 90%;
    float: left;
}

.divSubInstrucoes1 {
    height: 60px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

    .divSubInstrucoes1 p {
        font-size: 30px;
    }

.divSubInstrucoes2 {
    height: 190px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.txtInstrucoes {
    height: 140px;
    width: 90%;
    padding: 5px;
    overflow: hidden;
}

.divMapsEntrega {
    height: 700px;
    width: 65%;
    display: flex;
    justify-content: center;
}

.divMapsE {
    height: 650px;
    width: 90%;
}

.divBtnFinalizar {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
}

.btnFinalizarPedido {
    height: 80px;
    width: 24%;
    background-image: linear-gradient(135deg, rgba(39, 131, 219) 0%, rgba(27, 119, 207) 50%, rgba(15, 103, 186) 100%);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 30px 30px;
    border: 0px;
    color: #DEDEDE;
    box-shadow: 6px 6px 6px #656565;
    padding-left: 20px;
}

.divTextoBtnFinalizar {
    height: 80px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .divTextoBtnFinalizar p {
        margin-bottom: 0;
    }

    .divTextoBtnFinalizar img {
        height: 90%;
        float: left;
    }
