body {
}

.divCorpoMaps{
    height:800px;
    /*background-color:#FFF;*/
    background-image:url("ImagensCSS/whiteTexture2.jpg");
    background-repeat:round;
    padding-top:20px;
}

.divTitMapa{
    height:800px;
    float:left;
    
}

.divTitMapaChild{
    height:790px;
    width:90%;
    border-radius:20px 20px 0px 0px;
    /*background-color:rgb(255,183,0);*/
    background-image:url("ImagensCSS/yellowTexture2.jpg");
    background-repeat:round;
    float:left;
    /*overflow-y:auto;
    overflow-x:hidden;*/
}

.divSubTitMapChild1 {
    height: 140px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divSubTitMapChild1 h1 {
    
    font-size:42px;
    font-weight:bold;
}

.divSubTitMapChild2{
    height:80px;
    width:100%;
    float:left;
    align-items:center;
    display:flex;
}

.txtPesquisarMapa{
    margin-left:5%;
    height:35px;
    width:75%;
    padding-left:5px;
    padding-right:5px;

}

.btnPesquisarMapa{
    height:37px;
    width:8%;
    background-image:url("ImagensCSS/lupa.png");
    background-size:37px;
    background-repeat:no-repeat;
}

.divSubTitMapChild3 {
    height: 650px;
    width: 100%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-track-color: #ff7300;
}

.lblEndereco {
    display: inline-block;
    width: 90%;
    font-size: 16px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 30px;
    white-space: pre-line;
    cursor: pointer;
    color:rgb(33, 37, 41) ;
}

.divSubTitMapChild3::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 16px;
}

.divSubTitMapChild3::-webkit-scrollbar-track-piece {
    background-image: url("ImagensCSS/yellowTexture2.jpg");
    background-repeat: round;
    -webkit-border-radius: 3px;
}

.divSubTitMapChild3::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #894654;
    -webkit-border-radius: 3px;
}

.divSubTitMapChild3::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
}

.divTitMapaChild::-webkit-scrollbar-corner {

}

.divTitMapaChild::-webkit-resizer { 

}
/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal 
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
 aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro
::-webkit-scrollbar-track {
    background: #333;
}

 aqui é a alça da barra, que demonstra a altura que você está na página
estou colocando uma cor azul clara nela
::-webkit-scrollbar-thumb {
    background: #2e9dd8;
}*/



.divMapsSblenders{
    height:790px;
    float:left;
    border-radius:20px 20px;
}

#divInfobox1 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders1.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox2 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders2.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox3 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders3.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox4 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders4.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox5 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders5.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox6 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders6.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox7 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders7.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox8 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders8.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox9 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders9.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox10 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders10.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox11 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders11.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox12 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders12.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox13 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders13.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox14 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders14.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox15 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders15.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

#divInfobox16 {
    width: 350px !important;
    height: 200px;
    background-image: url("ImagensCSS/ImagensRestaurantes/restauranteSblenders16.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}


/*.gm-style-iw {
    width: 350px !important;
    height:200px;
    background-image:url("ImagensCSS/restauranteSblenders.png");
    background-repeat:no-repeat;
    background-size:contain;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}*/

/*#mapa {
    height: 400px;
    width: 70%;
    align-items: center;
}*/

.h2Maps {
    margin-bottom: 25px;
    margin-left: 10px;
    font-size: 42px;
    font-weight: bold;
}
