@font-face {
    font-family: Borg;
    src: url('Fontes/Borg.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('Fontes/Roboto-Black.ttf');
}

* {
    font-family: 'Century Gothic';
    outline: none !important;
}

body {
    transition: background-color .5s;
}

.divHeader {
    background-color: #ff7300;
    padding: 15px;
}

.divHeaderRow {
    margin: 0 auto;
    display: flex;
    flex: 90%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.imgHeader {
    margin: 0;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 100px;
}

.imgLogo {
    max-width: 100%;
    height: auto;
}

.divLinks {
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divLinksColunm {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    align-items: stretch;
    padding: 0;
    margin: 20px;
    gap: 10px;
}

.divLinksRow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    transition: 0.5s;
    padding: 0;
}

.adivLinks {
    font-size: 22px;
    color: #FFF;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.adivLinks:hover {
    color: #fff;
}

.divLinksRow:hover {
    background-color: #ffad15;
    border-radius: 20rem;
}

.divLogBtns {
    display: flex;
    flex-direction: row;
}

.divbtn {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.abtn {
    color: #ffffff !important;
    background-color: #ffad15;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 24px;
}

.abtn:hover {
    color: #ff7300 !important;
    background-color: #ffffff;
    transition: 0.5s;
}

.divOpenMenu {
    display: none;
}

.opmenu {
    display: none;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.sidenav {
    display: none;
}

.divCarrinho,
.liCarrinho {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.liCarrinho {
    padding: 0 10px;
}

.aCarrinhoTexto {
    font-size: 20px;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.aCarrinhoTexto:hover {
    color: #FFFFFF;
}

.aCarrinho {
    width: 40px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.divCarrinho {
    display: flex;
}

.imgCarrinho {
    width: 40px;
}

@media screen and (max-width: 1300px) {
    .abtn {
        font-size: 20px;
        padding: 10px 20px;
    }
    .adivLinks {
        font-size: 18px;
        padding: 0 15px;
    }
    .divLinksColunm {
        margin: 25px 5px;
        gap: 5px;
    }
    .divbtn {
        padding: 0 5px;
    }
    .liCarrinho {
        padding: 0;
    }
    .aCarrinhoTexto {
        font-size: 16px;
    }
}

@media screen and (max-width: 1040px) {
    .abtn {
        padding: 5px 10px;
    }
    .adivLinks {
        padding: 0 5px;
    }
    .divLinksColunm {
        margin: 25px 5px;
        gap: 2px;
    }
    .divbtn {
        padding: 0 3px;
    }
}

@media screen and (max-width: 925px) {
    .adivLinks {
        font-size: 14px;
    }
    .divHeaderRow {
        justify-content: space-between;
    }
    .imgHeader {
        max-width: 80px;
    }
    .divLogBtns {
        display: none !important;
    }
    .divLinks {
        justify-content: flex-end;
        flex-grow: 1;
        margin-right: 15px;
        border-right: #ffa053 1px solid;
    }
    .divLinksHidden {
        display: none;
    }
    .divHeaderUser {
        display: none !important;
    }
    .divheaderusersidenavRow {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding: 0 5px;
    }
    .divheaderusersidenav {
        display: none;
        flex-direction: column;
    }
    .divOpenMenu {
        display: flex;
    }
    .divProd {
        display: block;
    }
    .opmenu {
        display: flex;
        user-select: none;
    }
    .sidenav {
        display: block;
        position: fixed !important;
        height: 100%;
        width: 0;
        z-index: 50;
        top: 0;
        right: 0;
        background-color: #ff7a0e;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: 0.5s;
    }
    .SidenavCol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    .sidenav a {
        text-decoration: none;
        color: #ffffff;
        transition: 0.5s;
    }
    .asidenav .abtn {
        font-size: 18px;
    }
    .asidenav {
        width: 100%;
        padding: 5px 10px;
        transition: 0.5s;
        display: block;
    }
    .asidenav:hover,
    .closebtn:hover {
        color: #ffad15;
    }
    .divasidenavfirst {
        border-radius: 5px 5px 0 0;
    }
    .divCarrinho {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0 0 0;
    }
    .divdivasidenav {
        padding: 0;
        margin: 0;
    }
    .lblBemVindo {
        padding: 0;
    }
    .divasidenav {
        transition: 0.5s;
        padding: 0;
        background-color: #ff5e00;
        border-bottom: 1px solid #ffffff;
    }
    .divbtnsidenav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px 0;
    }
    .abtn {
        padding: 10px 10px;
    }
    .divbtn {
        padding: 0;
    }
    .sidenav {
        font-size: 18px;
    }
    .closebtn {
        display: flex;
        justify-content: flex-end;
        padding: 0 15px 0 0;
        font-size: 40px !important;
    }
    .lblSair {
        transition: none !important;
    }
    .divUserPhoto {
        margin: 5px 0;
    }
}

@media screen and (max-width: 350px) {
    .divLinks {
        display: none;
    }
}

.divHeaderUser {}

.divUser {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: right;
}

.divUserPhoto {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 5px;
}

.aUserPhoto {
    max-width: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.imgUsuario {
    width: 100%;
}

#divConectado {
    display: none;
    justify-content: space-evenly;
}

.lblBemVindo {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    justify-content: center;
    font-size: 16px;
    color: white;
}

.saido {
    display: flex;
    justify-content: flex-end;
}

.lblSair {
    justify-content: center;
    font-size: 16px;
    background-color: #ffad15;
    border-radius: 2px;
    padding: 1px;
    width: 40px;
    display: flex;
    color: white !important;
    cursor: pointer;
}

.lblSair:hover {
    color: #ffad15 !important;
    background-color: #FFF;
}


/* Atenção Admin pf deleta isso depois se for desnecessário */


/*.divNomePagina {
    width: 100%;
    position: absolute;
    z-index: 5;
}*/

.divTituloPagina {
    border-radius: 0px 15px 15px 0px;
    margin: 20px 0;
    width: 300px;
    background-color: #ff7300;
    box-shadow: 0px 7px 0px rgb(255, 173, 21);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divTituloPagina h1 {
    color: #FFF;
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    margin: 0px;
    text-shadow: 1px 2px 1px rgb(255, 173, 21);
    user-select: none;
}

#divCad,
#divLog,
#divEsqSenha {
    height: 100%;
    display: none;
    position: fixed;
    background: rgba(255, 255, 255, 0.85);
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
    overflow: overlay;
    justify-content: center;
    align-items: center;
}


/* n sei o que é isso */

.divFG {
    height: 100vh;
    float: left;
}


/* n sei o que é isso */

.divLogin,
.divCadastro,
.divEsqueceuSenha {
    background-image: url("ImagensCSS/orangeTexture.jpg");
    background-repeat: round;
    width: 485px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.3);
}

.divSubLoginSair {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.aDivSubLoginSair {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.aDivSubLoginSair:hover {
    color: #ffad15 !important;
}

.divSubLoginTitulo {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h1LoginTitulo {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.divLoginEmail,
.divLoginSenha,
.divLoginEntrar {
    padding: 10px 10px;
}

.divLoginEmail,
.divLoginSenha {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.divLoginEntrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divSubLoginEmail1,
.divSubLoginEmail2,
.divSubLoginEmail3 {
    text-align: center;
}

.divSubLoginEmail1 {
    text-align: left !important;
}

.divSubEmailLogin2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.divSubEmailLogin3 {}

.lblDivLogin,
.lblEsqS,
.lblDivAvisoLogin,
.lblAvisoEsqS,
.lblDivAvisoLogin,
.lblDivCadastro2,
.lblDivCadastro {
    font-size: 18px;
}

.txtDivLogin,
.txtEsqS,
.txtDivCadastro,
.txtDivCadastro2 {
    border: none;
    padding: 0px 15px;
    font-size: 18px;
    border-radius: 20px 4px;
    width: 100%;
}

.divBtnSubLogin1 {
    text-align: center !important;
}

.aEsqueceuSenha {
    font-size: 18px;
    cursor: pointer;
}

.btnLogin,
.btnCadastro {
    padding: 10px;
    margin: 0;
    color: #fff;
    background-color: #ffad15;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.5s;
    border: none;
}

.btnLogin:hover {
    background-color: #ffffff;
    color: #ff7300 !important;
}

.aEsqueceuSenha:hover {
    text-decoration: underline !important;
}

.divFicaJuntin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 0 20px;
    gap: 10px;
}

.divNome {
    flex: 35%;
}

.divSobrenome {
    flex: 65%;
}

.divFooter {
    background-color: #ff7300;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0px 48px;
    margin-top: 60px;
    justify-content: flex-end;
}

.MainFooter {
    display: flex;
    max-width: 70rem;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.imgFooter {
    margin: 0;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 563px;
}

.imgfooter {
    max-width: 100%;
    height: auto;
}

.Nav {
    user-select: none;
    padding: 30px 0 30px 0;
    margin-left: auto;
    margin-right: auto;
}

.Footrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.footer-Navigation {
    padding: 0 20px;
    padding-left: 0;
}

.footer-SblurgeMaker {
    padding: 0 20px;
}

.footer-Follow {
    padding: 0 20px;
    padding-right: 0;
}

.FootTitles {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #FFF;
    font-weight: bold;
}

.contentFooter {
    padding: 0 0 18px;
}

.FooterLinks {
    padding: 0 0 0 10px;
}

.FooterLinks li {
    font-size: 1em;
    margin-bottom: 0;
}

.FooterLinks a {
    color: #fff;
}

.FooterLinks a:hover {
    color: rgba(255, 193, 24, 0.795);
    transition: 0.6s;
}

.BottomFooter {
    background-color: #ffad15;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0px -7px 20px rgba(0, 0, 0, 0.1);
}

.BottomFooterRow {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
}

.BottomFooterColunm {
    padding-right: .9375rem;
    padding-left: .9375rem;
}

.BottomFooterColunm p {
    text-align: center;
    color: #444;
    font-size: 0.8em;
    margin: 0;
    user-select: none;
}

.BottomFooterColunm a {
    color: #c70000e3;
}

.BottomFooterColunm a:hover {
    text-decoration: none;
}

.borderleft {
    border-right: #ffa053 solid 1px;
}

.bordermid {
    border-right: #ffa053 solid 1px;
}

@media screen and (max-width: 1205px) {
    .imgFooter {
        margin: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45vw;
        min-width: 236px;
    }
    .MainFooter * {
        max-width: auto;
    }
    .divFooter {
        padding: 0 24px;
    }
}

@media screen and (max-width: 920px) {
    .MainFooter {
        padding: 30px 0 30px 0px;
    }
}

@media screen and (max-width: 675px) {
    .Footrow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 0;
        margin: 0;
    }
    .MainFooter {
        display: flex;
        flex-direction: column;
        max-width: 70rem;
        margin: 0 auto;
        justify-content: center;
    }
    .MainFooter * {
        padding: 0;
        margin: 0;
    }
    .borderleft {
        border: 0;
    }
    .bordermid {
        border: 0;
    }
    .imgFooter {
        margin: 0 auto;
    }
    .footer-Navigation {
        padding: 10px 0 0 0;
    }
    .footer-SblurgeMaker {
        padding: 10px 0 0 0;
    }
    .footer-Follow {
        padding: 10px 0 0 0;
    }
    .BottomFooterColunm p {
        text-align: center;
        color: #444;
        font-size: 0.6em;
        margin: 0;
    }
    .FooterLinks li {
        font-size: 0.8em;
        margin-bottom: 0;
    }
    .FootTitles {
        margin-bottom: 10px;
        font-size: 0.9em;
        color: #FFF;
        font-weight: bold;
    }
}

a:hover {
    text-decoration: none;
}

a,
li,
ul {
    list-style: none;
    text-decoration: none;
}