﻿body {
    background-size: cover;
}

.divCorpoProdutos {
    height: auto;
    width: 100%;
}

.divAdicionarLanches {
    height: auto;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* Anchors */

.divCustomizarLanches {
    margin: 0 auto;
    height: auto;
    width: 1011px;
}

.divBurguer {
    height: 250px;
    width: 100%;
    box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.3);
    padding: 0 0 8px 10px;
}

    .divBurguer a,
    .divBurguer3 a {
        text-decoration: none;
        transition: 0.5s;
        width: 100%;
        height: 100%;
    }

.divTxtBurguer {
    display: flex;
    height: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.divTxtBurguer2 {
    display: flex;
    height: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.divTxtBurguer h1 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin: 0;
    text-shadow: 2px 2px 2px #000;
    color: #f0f0f0;
}

.divTxtBurguer2 h1 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin: 0;
    text-shadow: 2px 2px 2px #000;
    color: #f0f0f0;
}

.divBurguer2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.divBurguer3 {
    height: 200px;
    width: 505px;
    box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.3);
    padding: 0 0 8px 10px;
}

#divBurguer1 {
    background-image: url(ImagensCSS/hamburgerwallpaper.png);
    background-position: center;
    background-repeat: space;
    overflow: hidden;
}

.AcomWall {
    background-image: url(ImagensCSS/acompanhamentoswallpaper.png);
    background-position: center;
    overflow: hidden;
}

.BebidasWall {
    background-image: url(ImagensCSS/sodawallpaper.png);
    background-position: center;
    overflow: hidden;
}

.divBurguer4 {
    background-image: url(ImagensCSS/dessertswallpaper.png);
    background-position: center;
    overflow: hidden;
}

.divBurguer5 {
    background-image: url(ImagensCSS/saucewallpaper.png);
    background-position: center;
    overflow: hidden;
}

.divFooter {
    box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.5);
    margin: 0px;
}

@media screen and (max-width: 1100px) {
    .divProd {
        padding: 80px 0;
        margin: 0 auto;
    }

    .divCustomizarLanches {
        width: 75%;
    }

    .divBurguer3 {
        width: 50%;
    }

    .divTxtBurguer2 h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 610px) {
    .divTxtBurguer h1 {
        font-size: 20px;
        text-align: left;
    }

    .divTxtBurguer2 h1 {
        font-size: 18px;
    }

    .divBurguer3 {
        width: 100%;
    }

    .divBurguer2 {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }
}


/* Listas */

.divProdutosCustomizaveis {
    height: auto;
    width: 100%;
}

.divNomeComplemento {
    height: 110px;
    width: 100%;
    float: left;
}

.divTituloComplemento {
    height: 110px;
    width: 35%;
    float: left;
    background-color: #e33d00;
    border-radius: 0px 0px 30px 0px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

    .divTituloComplemento h1 {
        color: #FFF;
        font-size: 48px;
    }

.divBebidas {
    height: 300px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.divSubBebidas {
    height: 200px;
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

    .divSubBebidas b {
        font-size: 72px;
        text-transform: uppercase full-width;
        text-shadow: 2px 2px 2px #e33d00;
    }

.divSubProdutosCustomizaveis {
    height: 700px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.divProdCustom {
    height: 1300px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.divProduto {
    height: 600px;
    width: 28%;
    border-radius: 40px;
    /*border: 1px solid #323232;*/
    background-color: #FFF;
    filter: drop-shadow(12px 12px 12px #656565);
}

    .divProduto a {
        text-decoration: none;
        color: black;
    }

.divSubProduto1 {
    height: 300px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imgSubProduto {
    height: 250px;
    width: 60%;
}

.divSubProduto2 {
    height: 200px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.lblDescricaoProduto {
    width: 100%;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    margin-left: 15px;
    margin-right: 15px;
}

.lblValorProduto {
    width: 100%;
    font-size: 40px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
}

.divSubProduto3 {
    height: 90px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btnAdicionarCarrinho {
    height: 65px;
    width: 65%;
    background-color: #37c418;
    color: #EEE;
    font-size: 22px;
    border-radius: 10px 10px;
    border: solid 0px #323232;
    filter: drop-shadow(2px 2px 2px #656565);
}

.divBotaoExpandir {
    height: 150px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
}

.divSubBotaoExpandir {
    height: 150px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btnExpandir {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    box-shadow: 5px 5px 5px #878787;
    background-color: #e6e6e6;
    font-size: 48px;
    background-image: url(ImagensCSS/setaBaixo.png);
    background-size: contain;
}

.divBtnOpcoesPagLanches {
    height: 200px;
    width: 100%;
    align-items: initial;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btnIrCarrinho {
    height: 80px;
    width: 21.5%;
    background-color: #2464c1;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 30px 30px;
    border: 0px;
    color: #DEDEDE;
    box-shadow: 5px 10px 19px rgba(0, 0, 0, 0.3);
    padding-left: 20px;
}

.divTextoBtnCarrinho {
    height: 80px;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .divTextoBtnCarrinho p {
        margin-bottom: 0;
    }

    .divTextoBtnCarrinho img {
        height: 90%;
        float: left;
    }


/*Popup Css*/

.sectionProd {
    height: 100vh;
    width: 100%;
    float: left;
    background-color: transparent;
    z-index: 999;
    position: fixed;
    align-items: initial;
    display: flex;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.divDescricaoProduto {
    height: 50vh;
    width: 30%;
    background-color: #e8e7e7;
    margin-top: 5vh;
    border-radius: 15px;
}

.divDescricaoProdutoTitulo {
    height: 15%;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f7b036;
    border-bottom: 1px inset #e8a13c;
    border-radius: 15px 15px 0px 0px;
}

.h1InfoNutri {
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
}

.divDescricaoProdutoTitulo a {
    height: 100%;
    float: right;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 60px;
    cursor: pointer;
}

.imgIconX {
    height: 80%;
    float: right;
}

.divDescricaoProdutoCorpo {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lblDescNutri {
    font-size: 20px;
    float: left;
    padding: 0 5px 0 5px;
    display: inline-block;
}

.lblDescValor {
    font-size: 20px;
    float: left;
    padding: 0 5px 0 5px;
    display: inline-block;
}


/*Popup Css2*/

.sectionProd2 {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    z-index: 5;
    position: fixed;
    align-items: initial;
    display: flex;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.adicionado {
    color: #FFF;
    font-size: 1.5vw;
    font-weight: bold;
}

.divAdicaoProdutoCorpo {
    height: 85%;
    width: 100%;
    margin-top: 22vh;
}

.check {
    height: 1vw;
    float: left;
    margin-left: .25vw;
    margin-top: 0.9vh
}

.corpo {
    font-size: 1.2vw;
    color: green;
    font-weight: 700;
    margin-left: 1.35vw;
}

.btnFechar {
    background-color: transparent;
    border: 0;
}

.btnAvancar {
    height: 70px;
    width: 50%;
    background-image: linear-gradient(135deg, rgba(39, 131, 219) 0%, rgba(27, 119, 207) 50%, rgba(15, 103, 186) 100%);
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 0px;
    border-radius: 30px 30px;
    border: 0px;
    color: #DEDEDE;
    box-shadow: 6px 6px 6px #656565;
    padding-left: 20px;
    margin-left: 7.4vw;
}

.divTextoBtnAvancar {
    height: 7vh;
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .divTextoBtnAvancar p {
        margin-bottom: 0;
        font-size: 1vw;
    }

    .divTextoBtnAvancar img {
        height: 90%;
        float: left;
    }

.divInfos {
    width: 100%;
    height: 30px;
    background-color: #d6d6d6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
