
body {
    background-image: url(Imagens/background.png);
    background-size: cover;  
}

/*.divIndicadorPagina{
    width:100%;
    height:100px;
    float:left;
}

.divTriangulo {
    width: 0;
    height: 0;
    border: 50px solid;
    position:absolute;
    border-color: #f5e107 transparent transparent #f5e107;
    float: left;
}

.divParalelo {
    width: 12%;
    height: 100px;
    position: relative;
    margin-left: 15px;
    z-index: 5;
    border: 1px transparent;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    background: #f5e107;
    float: left;
    border-right: solid white 1px;
}

.divParalelo2 {
    width: 12%;
    height: 100px;
    position: relative;
    z-index: 5;
    border: 1px transparent;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    background: #f5e107;
    float: left;
    border-right: solid white 1px;
}

.divSubTriangulo {
    height: 70px;
    width: 100%;
    float:left;
}

.divSubParalelo {
    height: 30px;
    width: 100%;
    background-color: #ba1111;
    float: left;
}*/

/*
#divlista {
    display: flex;
    flex-direction: column;
    
}

#title {
    height: 50px;
    width: 20%;
    border-top-right-radius: 10px;
    margin: 10px 0px 0px 0px;
    background-color: rgb(255, 76, 0);
}

h1 {
    font-size: 2vw;
    padding: 1vh;
    text-align: center;
    color: #fff;
}

#lista {
    background-color: #e9e9e9;
    height: 1000px;
    width: 20%;
    margin: 0;
}*/

.divCorpoProdutos {
    height: 1000px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.divNomePagina{
    height:110px;
    width:100%;
    float:left;
}

.divTituloPagina {
    height: 110px;
    width: 25%;
    float: left;
    background-color: #e33d00;
    border-radius: 0px 0px 30px 0px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.divTituloPagina h1{
    color:#FFF;
    font-size:48px;
}

.divAdicionarLanches {
    height: 800px;
    width: 80%;
    margin-top:40px;
    /*background-color:#245676;*/
}

.divBurguer {
    height: 450px;
    width: 100%;
    float: left;
    border-radius: 60px 60px;
    background-color: #ffe76e;
    margin-bottom:50px;
}

.divSubBurguer1{
    height:300px;
    width:70%;
    float:left;
}

.h1Burguer{
    font-size:36px;
    text-align:left;
    margin-left:60px;
    margin-top:20px;
}

.lblBurguerDescricao{
    height:200px;
    width:100%;
    float:left;
    margin-left:60px;
    margin-top:20px;
    margin-bottom:20px;
    margin-right:100px;
    text-align:justify;
    overflow:auto;
}

.divSubBurguer2 {
    height: 300px;
    width: 30%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imgDivBurguer{
    height:80%;
    width:60%;
}

.divSubBurguer3 {
    height: 150px;
    width: 100%;
    float: left;
}

.divBtnBurguer1 {
    height: 150px;
    width: 25%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btnAdicionarIngredientes {
    height: 60px;
    width: 75%;
    /*float: left;
    margin-top: 50px;
    margin-left: 60px;*/
    border-radius: 15px;
    border: solid 1px #454545;
    box-shadow: #787878 1px 1px;
    background-color: #ff9c40;
    font-size: 20px;
}

.divBtnBurguer3{
    height:150px;
    width:25%;
    float:left;
}

.divBtnBurguer4 {
    height: 150px;
    width: 25%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lblValorLanche{
    font-size:24px;
}

.divBtnOpcoesPagLanches{
    height:200px;
    width:100%;
    float:left;
}

.divSubBtnOpcoesPagLanches1 {
    height: 200px;
    width: 50%;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btnAdicionarLancheProximo {
    height: 70px;
    width: 35%;
    border-radius: 15px;
    background-color: #4cff00;
    border: solid 1px #454545;
    box-shadow: #787878 1px 1px;
}

#divBurguer2{
    display:none;
}

#divBurguer3 {
    display: none;
}

#divBurguer4 {
    display: none;
}

#divBurguer5 {
    display: none;
}

#divBurguer6 {
    display: none;
}

#divBurguer7 {
    display: none;
}

#divBurguer8 {
    display: none;
}

#divBurguer9 {
    display: none;
}