body {
    background-color: rgb(255, 255, 255);
}

.divContent {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
}

.divContentCol {
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 30px;
}

.divContentRow {
    padding: 0 15px;
    margin: 0 auto;
    min-width: 0;
}

.divContentCol {
    text-align: justify;
    text-justify: inter-word;
}

.titulo {
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.imgSblebs {
    max-width: 250px;
    width: 100%;
}

.sallya {
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .divTituloPagina {
        width: 250px;
    }
    .divContentRow {
        padding: 0;
    }
    .divContentCol {
        padding: 10px;
    }
}